html, body {
	color: #fff;
	background-color: #373a3c;
	font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	width: 250px;
}
img.logo {
	display: block;
	margin: auto;
}
p.lead {
	text-align: center;
}
